GITHUB_KEY=some-key
GITHUB_SECRET=some-secret
GITHUB_CALLBACK=http://localhost:8080/auth/github/callback

GOOGLE_KEY=some-key
GOOGLE_SECRET=some-secret
GOOGLE_CALLBACK=http://localhost:8080/auth/google/callback